################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Fuhrparkverwaltung/.vs/Fuhrparkverwaltung/v15
